In [9]:
# If you see a test failure when checking your solution,
# note that [left] refers to YOUR code while [right]
# refers to the correct code that the computer is comparing
# to your work

# Let's start by importing pandas below
import pandas as pd

In [10]:
# This challenge includes a subway_locations.csv dataset.
# It is a listing of all US locations of the Subway fast food restaurant chain.
# The dataset has 4 columns:
# city,state,latitude,longitude

# CHALLENGE 1:
# Import the subway_locations.csv file into a DataFrame. 
# Create a MultiIndex with the levels coming from the 'state' and 'city' columns (in that order)
# Sort the index (all columns must be sorted) and assign the resulting DataFrame to a 'subway' variable.
subway = pd.read_csv('subway_locations.csv', index_col=['state','city']).sort_index()
subway.head()

                latitude  longitude
state city
AL    Anniston   33.6539   -85.8382
      Flomaton   31.0402   -87.2664
      Madison    34.7108   -86.7425
      Mobile     30.6820   -88.0678
      Tuskegee   32.4316   -85.6861

In [11]:
# CHALLENGE 2:
# Using your DataFrame, access the Index holding the values from 
# the 'city' level. Assign the Index to a `city_index` variable.
city_index = subway.index.get_level_values('city')
city_index

Index(['Anniston', 'Flomaton', 'Madison', 'Mobile', 'Tuskegee', 'Clarksville',
       'Heber Springs', 'Rogers', 'Springdale', 'Chandler',
       ...
       'Federal Way', 'Fife', 'Eau Claire', 'Galesville', 'Green Bay',
       'Hubertus', 'Milwaukee', 'Sun Prairie', 'Weston', 'Wheeling'],
      dtype='object', name='city', length=227)

In [12]:
# CHALLENGE 3:
# Using your DataFrame, access the Index holding the values from 
# the 'state' level. Assign the Index to a `state_index` variable.
state_index = subway.index.get_level_values('state')
state_index

Index(['AL', 'AL', 'AL', 'AL', 'AL', 'AR', 'AR', 'AR', 'AR', 'AZ',
       ...
       'WA', 'WA', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WV'],
      dtype='object', name='state', length=227)