In [2]:
# If you see a test failure when checking your solution,
# note that [left] refers to YOUR code while [right]
# refers to the correct code that the computer is comparing
# to your work
import pandas as pd

In [6]:
# This challenge includes a subway_locations.csv dataset.
# It is a listing of all US locations of the Subway fast food restaurant chain.
# The dataset has 4 columns:
# city,state,latitude,longitude

# CHALLENGE 1:
# Import the subway_locations.csv file into a DataFrame. 
# Use the 'index_col' parameter to attach a MultiIndex with levels
# coming from the 'state' and 'city' columns (in that order)
# Sort the DataFrame by both index levels (in regular ascending order)
# Assign the resulting DataFrame to a 'subway' variable.
subway = pd.read_csv('subway_locations.csv', index_col=['state','city']).sort_index()
subway.head()

                latitude  longitude
state city
AL    Anniston   33.6539   -85.8382
      Flomaton   31.0402   -87.2664
      Madison    34.7108   -86.7425
      Mobile     30.6820   -88.0678
      Tuskegee   32.4316   -85.6861

In [9]:
# CHALLENGE 2:
# Extract the row(s) with a 'state' level value of 'OK' and a
# 'city' level value of 'Broken Arrow'. Assign the result to a
# 'broken_arrow' variable.
broken_arrow = subway.loc[('OK','Broken Arrow')]
broken_arrow

                    latitude  longitude
state city
OK    Broken Arrow   36.0447   -95.8079

In [10]:
# CHALLENGE 3:
# Extract the row(s) with a 'state' level value of 'FL' and a
# 'city' level value of 'Winter Park'. Assign the result to a
# 'winter_park' variable.
winter_park = subway.loc[('FL','Winter Park')]
winter_park

                   latitude  longitude
state city
FL    Winter Park   28.5974   -81.3036