In [25]:
import pandas as pd

In [26]:
produtos = pd.read_csv('produtos.csv')
produtos.head()

                        nome    fabricante  quantidade    valor
0             Smartphone XYZ      TechCorp          50  1499.99
1               Notebook Pro    CompuWorld          30  3299.90
2               Tablet Alpha  DeviceMakers          70   899.50
3  Fone de Ouvido UltraSound      AudioMax         100   199.99
4              Teclado Gamer    KeyMasters          40   349.99

In [27]:
by_name = produtos.set_index('nome')
by_name.head()

                             fabricante  quantidade    valor
nome
Smartphone XYZ                 TechCorp          50  1499.99
Notebook Pro                 CompuWorld          30  3299.90
Tablet Alpha               DeviceMakers          70   899.50
Fone de Ouvido UltraSound      AudioMax         100   199.99
Teclado Gamer                KeyMasters          40   349.99

In [28]:
# id Teclado Gamer, na coluna fabricante
by_name.loc['Teclado Gamer','fabricante']

'KeyMasters'

In [29]:
by_name.loc['Caixa de Som Bluetooth':'Headset Wireless Gamer']

                        fabricante  quantidade    valor
nome
Caixa de Som Bluetooth    SoundPro          80   299.90
Câmera Digital           PhotoKing          20  2199.00
Smartwatch Fit            TimeTech          90   599.00
Carregador Rápido 50W     PowerMax         200    89.90
HD Externo 1TB           DataStore          35   499.90
Memória RAM 16GB          SpeedMem          45   699.99
Placa de Vídeo GTX 3050    GraphiX          10  2499.99
Headset Wireless Gamer    SoundMax          55   599.90

In [30]:
by_name.sort_values(by='quantidade').head()

                             fabricante  quantidade    valor
nome
Placa de Vídeo GTX 3050         GraphiX          10  2499.99
Impressora Multifuncional    PrintWorks          15   749.00
Câmera Digital                PhotoKing          20  2199.00
Monitor FullHD               ScreenTech          25  1099.90
Webcam Full HD             VideoConnect          25   399.90

In [31]:
produtos.loc[:5]

                        nome    fabricante  quantidade    valor
0             Smartphone XYZ      TechCorp          50  1499.99
1               Notebook Pro    CompuWorld          30  3299.90
2               Tablet Alpha  DeviceMakers          70   899.50
3  Fone de Ouvido UltraSound      AudioMax         100   199.99
4              Teclado Gamer    KeyMasters          40   349.99
5             Monitor FullHD    ScreenTech          25  1099.90

In [32]:
produtos.iloc[:5]

                        nome    fabricante  quantidade    valor
0             Smartphone XYZ      TechCorp          50  1499.99
1               Notebook Pro    CompuWorld          30  3299.90
2               Tablet Alpha  DeviceMakers          70   899.50
3  Fone de Ouvido UltraSound      AudioMax         100   199.99
4              Teclado Gamer    KeyMasters          40   349.99

In [42]:
by_name.loc['Caixa de Som Bluetooth','quantidade'] = 50
by_name.loc['Caixa de Som Bluetooth']

fabricante    SoundPro
quantidade          50
valor            299.9
Name: Caixa de Som Bluetooth, dtype: object

In [43]:
# alterar valor de 299.9 para 319.9
by_name.loc['Caixa de Som Bluetooth','valor'] = 319.9
by_name.loc['Caixa de Som Bluetooth']

fabricante    SoundPro
quantidade          50
valor            319.9
Name: Caixa de Som Bluetooth, dtype: object

In [47]:
produtos.sort_values(by='nome')
fabricante_nome = produtos.set_index('fabricante')
fabricante_nome['nome'].sort_index()

fabricante
AudioMax          Fone de Ouvido UltraSound
ClickSolutions                Mouse Sem Fio
CompuWorld                     Notebook Pro
ConnectHub               Dock Station USB-C
DataStore                    HD Externo 1TB
DeviceMakers                   Tablet Alpha
FlashStore                   SSD NVMe 512GB
GraphiX             Placa de Vídeo GTX 3050
KeyMasters                    Teclado Gamer
LightKeys              Teclado Mecânico RGB
PhotoKing                    Câmera Digital
PowerMax              Carregador Rápido 50W
PrintWorks        Impressora Multifuncional
ScreenTech                   Monitor FullHD
SoundMax             Headset Wireless Gamer
SoundPro             Caixa de Som Bluetooth
SpeedMem                   Memória RAM 16GB
TechCorp                     Smartphone XYZ
TimeTech                     Smartwatch Fit
VideoConnect                 Webcam Full HD
Name: nome, dtype: object